Source: python-hsn2-yara
Section: python
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3), python-setuptools
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: python-hsn2-yara
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-hsn2-commons, python-yara
Provides: ${python:Provides}
Description: HSN2 Yara Service.